
username=jsvaner
password=KpXWaGQ^7nr9

machine=prelive

targetdir=src/main/resources/downloads/

clearPreviousLocalLogs=true
dateToUse=22-02-2025










% downloadPreviousDayLog=true
% Enable downloadPreviousDayLog to false if you are checking for more than 2 days - files will be zipped in server
% for example monday you are checking for the weekend => downloadPreviousDayLog should be true while checking for sunday and saturday
%  downloadPreviousDayLog should be false while checking for friday